@{
    ViewData["Title"] = "Course Registration program";
    
}

<div class="text-center">
    <h1 class="display-4">Course Registration program</h1>
    <p></p>
    <p>Welcome to check your course information.</p>
    
    
</div>
